<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="vendor/bootstrap.css" media="screen">
    <script src="vendor/jquery.js"></script>
    <script src="vendor/bootstrap.js"></script>


    <link rel="stylesheet" href="styles/style.css">
    
</head>

<body ng-app="app" ng-init="titre='Hello';brand='Honda - La defense' ">


    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#!/">{{brand}}</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#!/produits">Produits</a>
            </li>
            <li class="">
                <a href="#!/panier">panier</a>
            </li>
            <li>
                <a href="#!/produit/1">Produit 1</a>
            </li>
        </ul>
    </div>
    <div id="view" ng-view>
      
       
    </div>
    <!-- Elem   ->  E -->
<mon-panier voucher="10.0"></mon-panier>
<!-- Attrib   ->  A -->
<!-- <div data-mon-panier="Une data"></div> -->
<!-- Class   ->  C -->
<!-- <div class="mon-panier"></div> -->

    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-route.js"></script>
    <script src="app/soldeModule/soldeModule.js"></script>
    <script src="app/app.js"></script>
    <script src="app/filters/filters.js"></script>
    <script src="app/panierCtrl/panierDir.js"></script>
    <script src="app/panierCtrl/panierCtrl.js"></script>
    <script src="app/produitsSrvc/produitsSrvc.js"></script>
    <script src="app/produitCtrl/produitCtrl.js"></script>
    <script src="app/produitsCtrl/produitsCtrl.js"></script>

</body>

</html>