<form role="form" name="" style="max-width:70vw;margin-left:10vw">
<legend>Form title</legend>

<div class="form-group">
    <label for="i_nom">Titre</label><br />
    <input type="text" class="form-control" id="i_nom" placeholder="Titre" ng-model="produitCtrl.produit.nom" />
    <br />
    <label for="i_cat">Categorie</label>
    <br />
    <select name="i_cat" id="i_cat" ng-model="categorieId">
        <option ng-repeat="cat in produitCtrl.cat" value="{{cat.id}}">{{cat.nom}}</option>
    </select>
    <label for="i_desc">Description</label>
    <br />
    <textarea name="i_desc" id="i_desc" cols="30" rows="10" placeholder="Saisissez la description du produit"  ng-model="produitCtrl.produit.desc">
    </textarea>
    <br/>
    <label for="i_prix">Prix</label>
    <br />
    <input type="number" step="0.01" min="0.01" class="form-control" id="i_prix" placeholder="Prix" ng-model="produitCtrl.produit.prix" style="width:150px;"/>
    <label for="i_img">image</label>
    <br />
    <input type="text" name="i_img" id="i_img" ng-model="produitCtrl.produit.img"/>
    <label for="i_solde">Soldable</label>
    <br />
    <input type="checkbox" name="i_solde" id="i_solde" ng-model="produitCtrl.produit.soldable"/>
</div>



<button class="btn btn-primary" ng-click="saveProduct()"></button>
</form>