<div class="panier">
    <h2>Panier</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>€/Unit</th>
                <th>quant</th>
                <th>Total</th>

            </tr>

        </thead>
        <tr ng-repeat="produit in panierCtrl.panier track by $index" class="{{($odd)?'panier-odd':'panier-even'}}">
            <td>{{produit.nom}}</td>
            <td>{{produit.prix}}</td>
            <td> 
                <input type="number" name="quant" id="i_quant" ng-model="produit.quant" style="width:40px;">
                
                <div class='panier-button'>
                    <svg viewBox="-1 -1 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect x="0" y="0" width="10" height="10" fill="GREEN" stroke="LIGHTGREY" stroke-width="1.5" ng-click="addQuantOnProduct(produit)" />
                        <text x="5" text-anchor="middle" y="7.5" style="font-size:8">+</text>
                    </svg>
                    <svg viewBox="-1 -1 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" ng-click="removeQuant(produit)">
                        <rect x="0" y="0" width="10" height="10" fill="RED" stroke="LIGHTGREY" stroke-width="1.5" />
                        <text x="5" text-anchor="middle" y="7.5" style="font-size:8">-</text>
                    </svg>
                </div>
            </td>
            <td>{{produit.quant * produit.prix | mycurrency:'&euro;'}}</td>

        </tr>
        <tr>
            <td colspan="3" style="text-align: right;">Total HT :</td>
            <td>{{panierCtrl.totals.ht| mycurrency:'&euro;'}}</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right;">Montant TVA :</td>
            <td>{{panierCtrl.totals.tva | mycurrency:'&euro;'}}</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right;">Total TTC :</td>
            <td>{{panierCtrl.totals.ht + panierCtrl.totals.tva| mycurrency:'&euro;'}}</td>
        </tr>
    </table>

</div>