<div class="produit" >
    <!-- ng-controller="produitCtrl as produitCtrl" -->
    <img ng-src="img/produits/{{produitCtrl.produit.img}}" ng-alt="{{produitCtrl.titre}}" />
    <div class="content">
        <h3>{{produitCtrl.produit.nom}}</h3>
        <span>
            <h4>{{produitCtrl.produit.desc}}</h4>
        </span>
        <div class="alignDT big-size">{{produitCtrl.produit.prix | mycurrency}}<br />
            <button type="button" class="btn btn-success">Ajouter</button>
        </div>
    </div>
</div>