<div class="produits" >
    <!-- ng-controller="produitsCtrl as produitsCtrl" -->
    <table>
        <tr ng-repeat="produit in produitsCtrl.produits">
            <td>

                <img ng-src="img/produits/{{produit.img}}" class="img-responsive" alt="{{produit.nom}}">

            </td>
            <td>
                <h2>{{produit.nom}}</h2>
            </td>
            <td class="alignCT big-size">{{produit.prix|mycurrency:'€'}}<br />
                <button ng-hide="produit.stock &lt; 0" type="button" class="btn btn-success" ng-click="onclickaddproducttocart(produit)">Ajouter</button><br />
               <a ng-href="#!/produit/{{produit.id}}">
                <button type="button" class="btn btn-warning">voir le produit</button>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="3">Nombre d'articles présentés :{{produitsCtrl.countProduits}}</td>
        </tr>
    </table>

</div>