<div class="soldes">
   
   <a ng-href="#!/produits/{{produit.id}}" ng-repeat="produit in produitsCtrl.produits | soldeOnly | orderBy:produit.prix">
    <div class="produit">
        <img ng-src="{{produit.img}}" alt="">
        <div>{{produit.nom}}</div>
    </div>
</a>
</div>