.produit{
    padding : 5px;
  
}
.produit img,.produits img{
    max-width: 250px;
    max-height: 250px;
    size:auto;
    
}
.produit .content{
    display:inline-block;
    vertical-align: top;
}
.alignCT{
    text-align: center;
}
.alignDT{
    text-align: right;
}
.big-size{
    font-size: 22pt;color:blue;
    font-weight: 900;
}
 

.panier-odd{
    background-color: rgba(64, 224, 208,0.4);
}
.panier td{
    /* border:1px solid black; */
    vertical-align: middle;
}
.panier-button{
    display:inline-block
}
.panier-button svg{
    width:12px;
    height:12px;
    display:block;
}

.panier{
    position:fixed;
    top:30px;right:10px;
}

/* formulaire */

.ng-touched.ng-empty{
    background-color:red;
}